<center>
  _____________________________________________________________________________
  <br><br>
  <h1><%= Time.now.strftime '%H:%M:%S' %></h1>
  <br>
  _____________________________________________________________________________
</center>
